config =
  RESOURCES:
    GH:
      ORG_ID: 12345
      ORG_NAME: 'orgname'
      TEMPLATE_REPO: 'https://github.com/cfpb/open-source-project-template.git'
      ADMIN_CREDENTIALS:
        user: 'username'
        pass: 'password-hash'
      UNMANAGED_TEAMS: [12345, 23456]
      UNMANAGED_REPOS: ['cfpb/UNMANAGED']
  SECRET_KEY: 'github-secret-key'
  COUCH_PWD: 'couch-password'
  ORGS: [
    'orgname'
  ]
  MOIRAI:
    URL: 'http://localhost:8000/moirai'
    ADMIN_CREDENTIALS: 
      user: 'admin'
      pass: 'couch-password'
module.exports = config
